.rtl .site-action .login-reg-nav li::before {
    content: '|';
    position: absolute;
    right: -20px;
    top: 0;
    color: #fff;
}
.rtl .site-action .login-reg-nav li:first-child:before {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    color: #fff;
    display: none !important;
}
.rtl .mini-cart-wrap {
    margin-right: 20px;
}
.rtl .responsive-menu {
    margin-right: 30px;
    font-size: 20px;
}
.rtl .shopping-cart-table .product-list .remove-icon {
    margin-left: 0px;
    margin-right: 5px;

}
.rtl .shopping-cart-table .product-list .product-name {
    margin-right: 1rem;
}
.rtl .cart-coupon-update-area .coupon-form-wrap form input {
    padding: 5px 0px 5px 0;
}
.rtl .btn-clear-cart{
    margin-left: 1rem;
 }
 .rtl .cart-coupon-update-area .coupon-form-wrap form .btn-apply {
    left: 0rem !important;
}
.rtl .order-details-area-wrap h2:before {
    background-color: #1b1b1c;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
}
/* .rtl .login .form .form-check a{ */
    /* margin-right: 1rem; */
/* } */
.rtl .checkout-billing-details-wrap h2:before {
    background-color: #1b1b1c;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
}
.rtl .form input{
    padding-right: 1rem;
}
.rtl .form img{
    position: relative;
    top:2.3rem;
    left: .6rem;
    height: 4vh;
    width: 2vw;
}
.rtl .singup .nationality{
    width: 25%;
    height: 7vh;
    border-left: none;
    border-radius: 0 5px 5px 0;
    border-color: #E5BD5A;
    padding-right: 1rem;
    padding-top: .2rem;
}
.rtl .singup .phone{
    border-right: none;
    border-radius:  5px 0 0 5px   ;
    border-color: #E5BD5A;
    padding-left: 0rem;
}
.rtl .input-item .btn-brand:hover .fa-envelope{
    transition: all .5s;
    margin-left: 2rem;
    color: #fff !important;
}
.rtl .widget-body address span i{
    margin-left: 1rem;
}
.rtl .widget-body address span i.email{
    margin-right: -.3rem;
}
.rtl .regist {
    background-color: #fff;
    position: absolute;
    width: 18vw;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    padding: .5rem 1rem;
    right: -6rem !important;
    z-index: 1111;
    top: 2.5rem;
    display: none ; /* Initially hide the registration div */
}
.rtl .regist.regist.show{
    display: block; /* Show the registration div when the 'show' class is applied */
}
.rtl .page-content-wrapper .btn-contact{
    /* direction: rtl !important; */
    margin-left: 23rem;
}
.rtl .page-header-wrap .categor_title{
    text-align: right;
}
.rtl .search_div i{
    right: 1.5rem;
}
.rtl .page-header-wrap .search{
    padding-right: 2rem;
}
.rtl .social_media .footer_input{
    padding-right: 1rem;
}
.rtl .swiper .card{
    direction: rtl;
}
.rtl .swiper .card h6,
.rtl .swiper .card p{
    text-align: start;
}
.rtl .cart-calculate-area .cart-cal-table td, .rtl .cart-calculate-area .cart-cal-table th {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0 15px;
    text-align: start;
}
    .rtl .singup .form img {
        position: relative;
        top: 2.7rem !important;
        left: .6rem !important;
    }
    .rtl .order-details-area-wrap .order-details-table .table tr td:last-child, .order-details-area-wrap .order-details-table .table tr th:last-child {
        text-align: end;
    }
    .rtl .action-bar-inner .sort-by-wrapper{
        /* margin-left: -8rem; */
    }
    .rtl .sort-by-wrapper{
        width: 70%;
    }
    .rtl .filttter{
        display:flex;
        justify-content: end;
        flex-direction: column;
        align-items: end;
    }




@media (min-width: 820px) and (max-width: 992px) {
    .rtl .form .form-check a{
        margin-right: 18rem !important;
    }
    .rtl .form img {
        position: relative;
        top: 2.8rem !important;
        left: .6rem !important;
        height: 3vh !important;
        width: 4vw !important;
    }
}
@media (min-width: 768px) and (max-width: 819px) {
    .rtl .form img {
        position: relative;
        top: 2.8rem !important;
        left: .6rem !important;
        height: 3vh !important;
        width: 4vw !important;
    }
    .rtl .form .form-check a{
        margin-right: 18rem !important;
        margin-left: 0rem !important;
    }
}
@media (max-width: 576px) {
    .rtl .form .form-check a{
        margin-right: 10rem !important;
        margin-left: 0rem !important;
    }
    .rtl .form img {
        position: relative;
        top: 2rem !important;
        left: .6rem !important;
        height: 3vh !important;
        width: 7vw !important;
    }
}
@media (max-width: 375px) {
    /* .rtl .form img { */
        /* position: relative; */
        /* top: 2.8rem !important; */
        /* left: .6rem !important; */
        /* height: 3vh !important; */
        /* width: 4vw !important; */
    /* } */
    .rtl .form img {
        position: relative;
        top: 2rem !important;
        left: .6rem !important;
        height: 4vh !important;
        width: 7vw !important;
    }
    .rtl .form .form-check a{
        margin-right: 8rem !important;
        margin-left: 0rem !important;
    }
}
@media (min-width: 577px) and (max-width: 992px) {
    .rtl .regist {
        background-color: #fff;
        position: absolute;
        width: 28vw;
        border: 2px solid #e1e1e1;
        border-radius: 5px;
        padding: .5rem 1rem;
        right: -5rem !important;
        z-index: 1111;
        top: 2.5rem;
        display: none; 
    }
    .rtl .off-canvas-wrapper .close-btn i{
        margin-right:15rem;
    }
    .rtl .page-content-wrapper .btn-contact {
        margin-left: 10rem;
    }
}
@media (min-width: 820px) and (max-width: 992px) {
    .rtl .singup .nationality{
        height: 5vh;
        padding-top: .4rem;
    }
}
@media (max-width: 576px) {
    .rtl .regist {
        background-color: #fff;
        position: absolute;
        width: 50vw;
        border: 2px solid #e1e1e1;
        border-radius: 5px;
        padding: .5rem 1rem;
        right: -5rem !important;
        z-index: 1111;
        top: 2.5rem;
        display: none; 
    }
    .rtl .off-canvas-wrapper .close-btn i {
        margin-left: -20rem;
        color: #e4b643;
    }
    .rtl .page-content-wrapper .btn-contact {
        /* direction: rtl !important; */
        margin-left: 0;
    }
    .rtl .site-action .login-reg-nav li::before {
        right: -10px;
    }
    .rtl .singup .form img {
        position: relative;
        top: 2.4rem !important;
        left: .6rem !important;
    }
}
@media (max-width: 376px) {
    .rtl .singup .form img {
        top: 2rem !important;
    }
    .rtl .responsive-menu {
        margin-right: 15px;
        margin-left: 0;
    }
}






